<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="/var/folders/_5/w6xjmwhx2xv5v7wt6292yk4h0000gn/T/startLearnGo-darwin-10.6-amd64.dylib15824323589269376716" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>